 {% extends "layouts/_base.html" %} {% block content %}
<div class="jumbotron mb-0">
    <div class="container">
        <h1 class="display-4">Quality real estate properties</h1>
        <p class="lead">Want to build, buy or rent a property? We are here to help you make the right choice.</p>
    </div>
</div>
{#
<div class="container  pt-4 mb-4">
    <h2>Featured Property</h2>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <p class="lead">Property name</p>
        </div>
    </div>
</div>
#}
<div class="pt-4 pb-4" style="background: rgb(247, 247, 247)">
    <div class="container pt-4 pb-4" id="js-properties">
        <h2 class="">All Properties</h2>
    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Truvine &copy; 2018</p>
    </div>
</footer>
{% endblock %}